body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: BebasNeue;
  src: local('BebasNeue'), 
    url(./fonts/BebasNeue-Regular.ttf) format('truetype');
}

h2{
  font-family: BebasNeue;
  font-size: 4rem;
  margin: 10px;
  margin-top: 25px;
}

.react-swipeable-view-container {
  transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s !important;
  }